# Created by https://www.toptal.com/developers/gitignore/api/venv,microsoftoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=venv,microsoftoffice

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
.env
pip-selfcheck.json

/env
\__pycache__

*.log
# End of https://www.toptal.com/developers/gitignore/api/venv,microsoftoffice